.outer{
  display: flex;
  justify-content: center;
}
.clock{
  width: 700px;
  height: 700px;
  background-image: url(https://i.pinimg.com/originals/bf/42/43/bf4243904e488060f9259c4179a70e8a.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second{
  width: 5px;
  height: 190px;
  border-radius: 10px;
  background-color: red;
  bottom: 0px;
  position: absolute;
}
.hand-second{
  width: 4.3px;
  position: absolute;
}
.minute{
  width: 7px;
  height: 165px;
  border-radius: 6px;
  background-color: black;
  bottom: 0px;
  position: absolute;
}
.hand-minute{
  width: 6px;
  height: 2px;
  position: absolute;
}
.hours{
  width: 8.5px;
  height: 140px;
  border-radius: 4px;
  background-color: blue;
  bottom: 0px;
  position: absolute;
}
.hand-hours{
  width: 8.7px;
  height: 2px;
  position: absolute;
} 